# Rename to `.env` and fill in values.
# Docker Compose defaults - change if not using Docker Compose

API_BASE_URL=http://api:4000/api
NEXT_PUBLIC_API_BASE_URL=http://api:4000/api
AWS_REGION=
AWS_SECRET_MANAGER_SECRET_NAME=

# AWS credentials - local dev only
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=